{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Login</title>
</head>
<body>
    <h2>Twitter Sentiment Analysis</h2>
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
<div class="container" id="container">
	
	<div class="form-container sign-up-container">
		<form method='post' action="{% url 'signup' %}">
			{% csrf_token %}
			<h1>Create Account</h1>
			{% comment %} <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> {% endcomment %}
			<span>Fill the form for registration</span>
			<input type="text" name='name' placeholder="Name" />
			<input type="text" name='username' placeholder="username" />
			<input type="password" name='password' placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="post" action="{% url 'index' %}">
			{% csrf_token %}
			<h1>Sign in</h1>
			{% comment %} <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> {% endcomment %}
			<span>or use your account</span>
			<input type="text" name="username" placeholder="username" />
			<input type="password" name="password" placeholder="Password" />
			{% comment %} <a href="#">Forgot your password?</a> {% endcomment %}
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>
	{% comment %} <p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p> {% endcomment %}
</footer>
<script src="{% static 'index.js' %}"></script>
</body>
</html>